extends layout

block content
    h5 Timepoints
    table(class="table table-striped table-bordered table-hover")
        tbody
            tr
                td Last Check
                td #{context.viewHelpers.formatDate(model.timepoints.lastCheckDate)}
            tr
                td Next Check
                td #{context.viewHelpers.formatDate(model.timepoints.nextCheckDate)}
            tr
                td Last Pull
                td #{context.viewHelpers.formatDate(model.timepoints.lastPullDate)}
            tr
                td Next Pull
                td #{context.viewHelpers.formatDate(model.timepoints.nextPullDate)}

    h5 Tail (last #{model.tailLogBuffer.length} logged events)
    table(class="table table-striped table-bordered table-hover")
        thead
            tr
                th Event
        tbody
            each log, j in model.tailLogBuffer
                tr
                    td
                        span(class=context.viewHelpers.generateLabelClassForLogEntry(log)) &nbsp;
                        span   #{log}