extends layout

block content
    h5 Timepoints
    table(class="table table-striped table-bordered table-hover")
        thead
            tr
                th Last Check
                th Next Check
                th Last Pull
                th Next Pull
        tbody
            tr
                td #{viewHelpers.formatDate(model.timepoints.lastCheckDate)}
                td #{viewHelpers.formatDate(model.timepoints.nextCheckDate)}
                td #{viewHelpers.formatDate(model.timepoints.lastPullDate)}
                td #{viewHelpers.formatDate(model.timepoints.nextPullDate)}

    h5 Tail
    table(class="table table-striped table-bordered table-hover")
        thead
            tr
                th Event
        tbody
            each log, j in model.tailLogBuffer
                tr
                    td
                        span(class=viewHelpers.generateClassForLogEntry(log)) &nbsp;
                        span   #{log}